/* START:Background, behind the .content */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.box {
  position: relative;
  width: 300px;
  height: 60px;
  border-radius: 8px;
}

.box .content {
  background: var(--color-primary);
  color: #fff;
  padding-right: 0.5em;
  padding-left: 0.5em;
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  transition: 0.5s;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 8px;
}

.box:hover .content {
  height: 300px;
  z-index: 1;
}

.box .content li {
  opacity: 0;
  transition: 0.5s;
}

.box:hover .content li {
  opacity: 1;
  transition: 0.5s;
}

h2 {
  padding-top: 0.5em;
}

.box .content h5 {
  opacity: 0;
  transition: 0.5s;
  padding-top: 5em;
  border-bottom: 2px solid #000;
}

.box:hover .content h5 {
  opacity: 1;
  transition: 0.5s;
}

/* top-fixed:hover contents */
.top-fixed {
  position: fixed;
  width: 260px;
  border-radius: 8px;
}

.content:hover .top-fixed {
  background-color: var(--color-primary);
  transition: 0.5s;
}
/* top-fixed:hover contents */

#green-bin {
  color: var(--color-primary-light);
}

#blue-bin {
  color: #1f456e;
}

#black-bin {
  color: #000;
}

@media only screen and (min-width: 46em) {

  .box .content {
    padding-right: 1em;
    padding-left: 1em;
  }

  h2 {
    padding-top: 0.3em;
  }

.card {
  border-radius: 10px;

  color: #000;
}

.card:hover {
  color: #fff;
  transition: .5s;
}

.grey-card {
  background-color: var(--color-accent);

  transition:
   background-color 250ms ease-out,
 ;
}

.grey-card:hover {
  background-color: var(--color-primary);
  transition: .5s;
}

.grey-background {
  background-color: var(--color-accent);
}

.radius-img {
  border-radius: 3px;
}


}
/* Achievment box */
.achievement {
  background-color: var(--color-accent);
}

.achievement-icon {
  color: var(--color-primary);

#logs {
  color: #fff;
}

.task-card {
  text-decoration: none;
  color: #000;
  border-radius: 10px;
}

.task-card:hover {
  color: var(--color-primary);
  transition: .5s;
}

.icon-box {
  background-color: var(--color-primary-light);
  color: #fff;
  border-radius: 10px;
  max-width: 16em;
}

.icon-box:hover {
  background-color: var(--color-primary);
  transition: .5s;

}
