/* Top Navigation AC tuturial */
.top-nav {
  background-color: var(--color-primary);
  text-decoration: none;
  color: var(--color-secondary);
}

ul > li > a {
  text-decoration: none;
  color: var(--color-secondary);
}

.nav {
  display: none;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

nav {
  cursor: pointer;
  text-align: center;
}
/*end tuturial*/

label {
  font-size: 40px;
  display: none;
  width: 50px;
  border-radius: 8px;
}

label:hover {
  background-color: var(--color-primary-light);
  transition: 0.5s;
  width: 50px;
  border-radius: 8px;
}

.menu {
  display: block;
}

.top-links:hover {
  border-bottom: 5px solid var(--color-primary-light);
}

@media only screen and (max-width: 60em) {

  label {
    display: block;
  }

  .menu {
    display: none;
  }

  #toggle:checked + .menu {
    display: block;
  }

}

/*svg logo*/
.logo-main {
  color: #fff;
}

.logo-main:hover {
  color: var(--color-primary-light);
  transition: 0.5s;
}
