<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Laniel Design</title>
  <link href="/css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/onl4ftf.css">
  <link rel="stylesheet" href="https://use.typekit.net/onl4ftf.css">
    <title>LitR · Welcome! </title>
    <meta name="description" content="Welcome to LitR, our Goal is to help instill safe recycling practices for families that make a positive impact on the planet">
    <meta name="geo.region" content="ca-on">
    <meta name="geo.placename" content="Ottawa">
    <meta property="og:type" content="website">
    <meta property="og:title" content="LitR · Recycling website">
    <meta property="og:url" content="______">
    <meta property="og:locale" content="en-CA">
    <link href="css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <ul class="skip-links">
    <li><a href="#nav">Skip to navigation </a></li>
    <li><a href="#main">Skip to main content</a></li>
  </ul>


{% pattern nav/nav %}
{{content}}
{% pattern secondary-nav/nav-prev %}{% pattern secondary-nav/nav-next %}
{% pattern footer/footer %}


</body>
</html>
